doctype html
html
    head
        title #{repo} Issue Report
    body
        h1 #{repo} Issue Report
        p Generated: #{runDate}
        h2 Open Issues
        table
            thead
                tr
                    th Number
                    th Title
            tbody
                each val in openIssues
                    tr
                        td= val.number
                        td= val.title

        h2 Closed Issues
        table
            thead
                tr
                    th Number
                    th Title
            tbody
            each val in closedIssues
                tr
                    td= val.number
                    td= val.title